#main {
  margin-top: 1rem;
}

.video-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.center-text {
  text-align: center;
}

.thumbnail {
  width: 5rem;
}

.horizontal-bar {
  width: 2.3rem;
  height: 0.3rem;
  background-color: black;
  margin: 0.4rem 0;
}

.menu {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
}
