svg {
  width: 100%;
  height: 100%;
}

#logo-image {
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#header #first-item {
  display: flex;
  flex-shrink: 0;
}

#header #center-item {
  display: flex;
  width: 100%;
  max-width: 550px;
}

#header #last-item {
  display: flex;
  flex-shrink: 0;
}

#logo {
  width: auto;
  height: 2.5rem;
  margin-right: 5rem;
}

#search-form {
  display: flex;
  flex-grow: 1;
}

#search-field {
  margin-right: 1rem;
  flex-grow: 1;
}

#avatar {
  width: 3rem;
  background: none;
  border: none;
  margin-left: 3rem;
}

#body {
  display: flex;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

#side-panel {
  display: none;
  flex-direction: column;
  justify-items: start;
  position: fixed;
  width: 15rem;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1.5rem;
}

.small-button {
  background: none;
  border: none;
  padding: 0;
}

.side-panel-button {
  display: flex;
  margin-bottom: 1.5rem;
}

.small-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2rem;
}

#videos {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  background-color: rgb(250, 250, 250);
  top: 4.5rem;
  /* left: 15rem; */
  left: 0;

  width: 100%;
  height: calc(100% - 4.5rem);
  overflow: auto;
  max-width: 2050px;
  column-gap: 1rem;
  row-gap: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

.video-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;

  /* max-width: 256px; */
  /* max-height: 140px; */
}

.video-thumbnail {
  grid-column: 1 / 3;
  width: 100%;
}

.video-description {
  /* display: flex; */
  /* margin-top: 1rem; */
  /* max-width: 256px; */
  /* max-height: 1px; */
}

.video-title-container {
  /* width: 220px; */
  /* overflow: hidden; */
}

.video-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* white-space: normal; */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* line-height: 1.5rem; */
  /* max-height: 4rem; */
}

@media only screen and (min-width: 550px) {
  /* #side-panel {
    display: none;
  } */
  #videos {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 880px) {
  /* #side-panel {
    display: none;
  } */
  #videos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1140px) {
  #videos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1320px) {
  #side-panel {
    display: flex;
  }
  #videos {
    left: 15rem;
    width: calc(100% - 15rem);
    /* width: calc(100% - var(--side-panel-width, 10rem)); */
  }
}

@media only screen and (min-width: 1960px) {
  #videos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
